*{
  box-sizing: border-box;
}

.cat-name{

  margin-left: 700px;
  margin-top: 30px;;

}


.item-img-block{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  column-gap: 80px;
  row-gap: 50px;
  margin-left: 420px;
  margin-top: 40px;
  margin-bottom: 40px;
  
} 


.item-img-block img{
  border-radius: 10px;
  width: 150px;
  cursor: pointer;
  margin-bottom: 4%;
}

.item1:hover img , .item2:hover img , .item3:hover img , .item4:hover img ,
.item5:hover img , .item6:hover img , .item7:hover img , .item8:hover img{
  transform: scale(1.1);
}

.item-img-block a{

  text-decoration: none;
  font-weight: bold;
  margin-bottom: 0%;

}

.item-img-block p{

  display: block;
  margin-top: 5px;

}
