*{
  box-sizing: border-box;
}

.offer-text{

  display: block;
  margin-left: 25%;
  margin-bottom: 0;
  margin-top: 4%;


}

.offer-text1{

  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 73px;
  margin-bottom: 0;
}

.offer-text2{

  color: #B1B2FF;
  font-size: 48px;
  margin-top: 0;

}

.shop-now{

  background: #D9ACF5;
  border-radius: 2px;
  font-weight: 600;

  border-style: solid;
  box-sizing: border-box;
  border: 0px solid #D9ACF5;

  cursor: pointer;
  transition: background-color 1s, color 1s;

}

.more{

  background: white;
  border-radius: 2px;
  font-weight: 600;


  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px 10px;

  border-style: solid;
  box-sizing: border-box;
  border: 1px solid black;

  cursor: pointer;
  transition: background-color 1s, color 1s;  


}





.offer{
  align-items: centre;
  padding-left: 150px;
  background-image: url("../../img/offer3.png");
  background-color: rgba(92, 92, 92, 0.5);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  padding-top: 120px;
  /* margin-bottom: 4%; */

}

/* .offer-pic img{

  width: 1519px;

} */

.sale-button{

  width: auto;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 80px;
  margin-right: 80px;
  border: 2px solid black;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;


}

.new-arrival{

  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  color: #000000A8;


}

.hot-sale{

  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  color: #000000A8;

}

.discount{

  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  color: #000000A8;


}

.offer-button{

  margin-top: 3%;
  margin-right: 25%;

}

.shop-btn{

  display: inline-block;
  padding: 10px 20px;
  background-color: #7286D3;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 130px;
  height: 40px;


}


