:root {
  --primary-color: #7286D3;
  --secondary-color: #D9ACF5;
}

.product-card{
  display: flex;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 18%;

  max-width: 90vw;


  
}

.product-card-info{

  margin-left: 8%;
  
}

.product-card-img{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  /* height: 900px; */
  margin-bottom: 20px;  
  overflow: hidden;
  position: relative;

}

.product-card-img img{
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 9%;
  border-radius: 8px;
  transition: all 0.3s ease;

}

/* .product-card-img:hover img {
  transform: scale(1.1);
} */

.product-name{
  color:rgb(0, 0, 0);
  font-size: 40px;
  text-decoration: none;
  font-weight: 600;
  line-height: 1.55;
  margin: 0;
  padding-bottom: 16px;
}


.price{
  font-weight: bold;
  margin-bottom: 5%;
}

.size-info , .quantity-info{
  font-size: 15px;
  
}

.size-btn button{
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 8px;
  margin-bottom: 3%;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  cursor: pointer;

}

.size-btn button.active {
  border-color: #000;
  color: #fff;
  background-color: #000;
}

.quantity{
  display: flex;
  margin-bottom: 5%;
}


.quantity-input{
  font-family: Poppins, Poppins, sans-serif;
  -webkit-tap-highlight-color: transparent;
  line-height: 34px;
  appearance: none;
  resize: none;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  min-height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  border: 1px solid rgb(206, 212, 218);
  background-color: rgb(255, 255, 255);
  transition: border-color 100ms ease 0s;
  width: 64px;
  height: 55px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-left: 1%;
  margin-right: 1%;
}

.quantity-input:focus{
  outline: none;
  border-color: var(--primary-color);
}

.minus-btn , .plus-btn{

  -webkit-tap-highlight-color: transparent;
  font-family: Poppins, Poppins, sans-serif;
  cursor: pointer;
  appearance: none;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid rgb(206, 212, 218);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  position: relative;
  height: 55px;
  min-height: 55px;
  width: 55px;
  min-width: 55px;
  border-radius: 4px;
  padding: 0px;
  line-height: 1;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;


}

.minus-btn:hover , .plus-btn:hover{
  background-color: #f8f9fa;
}

.add-to-cart-btn{

  /* display: inline-block; */
  border: none;
  border-radius: 4px;
  padding: 12px 140px;
  margin-bottom: 2%;
  margin-right: 16px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

}

.buy-btn{

  border: none;
  border-radius: 4px;
  padding: 12px 183px;
  margin-bottom: 5%;
  margin-right: 20%;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

}

.add-to-cart-btn:hover , .buy-btn:hover{

  opacity: 0.9;

}

.separator {
  border-top: 1px solid #ced4da;
  margin: 20px 0;
  width: 500px;
}
