*{
  box-sizing: border-box;
}


.mainDiv{
  display: flex;
  flex-direction: column;
}

.mainDiv hr{
  color: black;
  width: 100%;
}


.footer-div{

  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  column-gap: 300px;
  margin-left: 0;
  margin-right: 130px;

}

.footer-div li{
  list-style-type: none;
  font-weight: bold;
  color: black;
  cursor: pointer;
  white-space: nowrap;
  padding: 10px;
}